@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Welcome to the Admin Dashboard</h2>
<p>This is the home page for the admin area.</p>

<div>
    <h3>Quick Links:</h3>
    <ul>
        <li><a asp-controller="Category" asp-action="Index">Manage Categories</a></li>
        <li><a asp-controller="Amenity" asp-action="Index">Manage Amenities</a></li>
    </ul>
</div>
