<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>
        <nav>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Amenity" asp-action="Index">Manage Amenities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Manage Categories</a>
                    </li>
                </ul>
        </nav>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>